text.title {
    font: 39px sans-serif;
    font-weight: bold;
    color: #abcaff;
}

text.figureTitle {
    font: 16px sans-serif;
    font-weight: bold;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                                                 
  font: 40px sans-serif;  
  font-weight: bold;  
  color: #3c3c3c;       
  opacity: 0.5;        
  pointer-events: none;         
}