#area1{
  font: 70px sans-serif;
  font-weight: bold;
  color: #ff8330;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#area2{
  margin-bottom: 20px;
  margin-top: 10px;
}

text.figureTitle {
  font: 12px sans-serif;
  font-weight: bold;
}

text.figureLabel {
  font: 12px sans-serif;
  font-weight: bold;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                                                 
  font: 40px sans-serif;  
  font-weight: bold;  
  color: #3c3c3c;       
  opacity: 0.5;        
  pointer-events: none;         
}

text.label {
  font-size: 10px;
}

/*#area2 {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    vertical-align: top;
    overflow: hidden;
}*/s

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}