body {
    background-color: 	#F5F5F5;
}

#title {
    font: 60px sans-serif;
    color: navy;
    font-weight: bold;
    margin-left: 80px;
}

#subtitle {
    font: 30px sans-serif;
    color: navy;
    margin-left: 80px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                                                 
  font: 40px sans-serif;  
  font-weight: bold;  
  color: #3c3c3c;       
  opacity: 0.5;        
  pointer-events: none;         
}

a {
	position: absolute;
	bottom: 0;
	font-family: sans-serif;
}

.buttons {
margin-left: 80px;
}

button {
    background-color: gray; 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}